/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.set-autocomplete-input {
    min-width: 25%;
}

.width-50 {
    width: 50%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.margin-top-50 {
    margin-top: 50px;
}