<div class="row margin-top-50">
    <div class="col-12">
        <table mat-table [dataSource]="cardListForTable" class="width-100 mat-elevation-z8" *ngIf="cardListForTable.length > 0">
            <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef> Count </th>
                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
            </ng-container>

            <ng-container matColumnDef="tradelist_count">
                <th mat-header-cell *matHeaderCellDef> Tradelist Count </th>
                <td mat-cell *matCellDef="let element"> {{element.tradelist_count}} </td>
            </ng-container>

            <ng-container matColumnDef="edition">
                <th mat-header-cell *matHeaderCellDef> Edition </th>
                <td mat-cell *matCellDef="let element"> {{element.edition}} </td>
            </ng-container>

            <ng-container matColumnDef="condition">
                <th mat-header-cell *matHeaderCellDef> Condition </th>
                <td mat-cell *matCellDef="let element"> {{element.condition}} </td>
            </ng-container>

            <ng-container matColumnDef="language">
                <th mat-header-cell *matHeaderCellDef> Language </th>
                <td mat-cell *matCellDef="let element"> {{element.language}} </td>
            </ng-container>

            <ng-container matColumnDef="foil">
                <th mat-header-cell *matHeaderCellDef> Foil </th>
                <td mat-cell *matCellDef="let element"> {{element.foil}} </td>
            </ng-container>

            <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef> Tags </th>
                <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
            </ng-container>

            <ng-container matColumnDef="last_modified">
                <th mat-header-cell *matHeaderCellDef> Last Modified </th>
                <td mat-cell *matCellDef="let element"> {{element.last_modified}} </td>
            </ng-container>

            <ng-container matColumnDef="collector_number">
                <th mat-header-cell *matHeaderCellDef> Collector Number </th>
                <td mat-cell *matCellDef="let element"> {{element.collector_number}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>