<div class="row">
    <div class="col-12 col-md-6">
        <h2>Blue Team</h2>
        <mat-form-field appearance="outline" class="width-100 blue-player" *ngFor="let bPlayer of blueTeam">
            <input matInput type="text" [placeholder]="'Type the player name here'" [maxLength]="16" [minLength]="3" [formControl]="$any(bPlayer).get('playerName')">
        </mat-form-field>
    </div>
    <div class="col-12 col-md-6">
        <h2>Red Team</h2>
        <mat-form-field appearance="outline" class="width-100 red-player" *ngFor="let rPlayer of redTeam">
            <input matInput type="text" [placeholder]="'Type the player name here'" [maxLength]="16" [minLength]="3" [formControl]="$any(rPlayer).get('playerName')">
        </mat-form-field>
    </div>
</div>